DB_HOST=postgres
DB_PORT=5432
DB_NAME=black_swan_radar
DB_USER=postgres
DB_PASSWORD=postgres
SERVER_PORT=8080

POSTGRES_DB=black_swan_radar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DOCKER_HOST=unix:///var/run/docker.sock
